body{
    background-image: linear-gradient(to right, rgb(199, 204, 213), rgb(255, 255, 255));
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bg-image{
    filter: brightness(50%)
}
/* .bg-image::after{
    background-color: rgba(112, 23, 190, 0.25);
} */

.butt{
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-right: 15px;

}
.bett{
    cursor: pointer;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 23px;
}

#butt1{
    margin-left: 15px;
}

.container{
    width: 100%;

}
.h{
    text-align: center;
    padding: 10px;
}
.hero{
    height: 100%;
    width: 100%;
}

.form-box{
    width: 100%;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: white;
}

.button-box{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #4824ff1f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: linear-gradient(to right, #101cff, #0687ff);
    border-radius: 30px;
    transition: .5s;
    
}

.StripeElement{
    box-sizing: border-box;
    width: 380px;
    height: 40px;
    color: black;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus{
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid{
    border-color: #fa755a;
}
.StripeElement--webkit-autofill{
    background-color: #fefde5 !important;
}